<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:datasource/source.properties" />	

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	    <property name="driverClassName" value="${driverClassName}"/>
	    <property name="url" value="${url}"/>
	    <property name="username" value="${name}"/>
	    <property name="password" value="${password}"/>
	</bean> 

	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:generator/spring/spring-mybatis-config.xml"></property>
	</bean>

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/ssdsdb_public?useUnicode=true&amp;characterEncoding=utf8&amp;generateSimpleParameterMetadata=true" />
		<property name="username" value="ssdsdb" />
		<property name="password" value="xunyuan123" />
	</bean> -->
	
	<!-- 方式1、使用继承SqlSessionDaoSupport方式 -->
	<bean id="mybatisSpringDaoUseDaoSupport"
		class="com.research.mybatis.spring.MybatisSpringDaoUseDaoSupport">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 方式2、使用sqlSession方式 -->
	<bean id="mybatisSpringDaoUseTemplate" class="com.research.mybatis.spring.MybatisSpringDaoUseTemplate">
		<property name="sqlSession" ref="sqlSession"></property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<!-- 方式3、使用扫描Mapper类的方式 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="basePackage" value="com.research.mybatis.generator.dao"></property>
	</bean>

</beans>